.wrapper {
    color: rgb(238, 226, 226);
    display: flex;
    justify-content: space-between;
    // border-bottom: 1px solid #423d3d;

    .btn-header {
        width: 70px;
        height: 30px;
        max-width: 70px;
        min-height: 30px;
        min-width: 70px;
        max-height: 30px;
        margin-top: 10px;
        margin-right: 40px;
        background-color: rgba(74, 22, 196, 0.4);
        color: white;
        font-weight: 600;

        &:hover {
            opacity: 0.5;
            box-shadow: 1px 1px 5px 3px #7a13f0;
            animation: btnHeader ease .5s infinite;
            background-color: rgb(226, 127, 226);
            color: #000000;
            font-weight: 600;
        }

        @keyframes btnHeader {
            0% {
                box-shadow: 1px 1px 5px 3px #7a13f0;

            }

            50% {
                box-shadow: 3px 3px 15px 9px #7a13f0;

            }

            100% {
                box-shadow: 1px 1px 5px 3px #7a13f0;

            }
        }
    }
}

.logo-containers {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-left: 10px;

    .logo-text1 {
        color: #f1240d;
        animation: avtLine .5s ease infinite;
    }

    .logo-text2 {
        color: rgb(235, 228, 14);
    }

    @keyframes avtLine {
        0% {
            color: #f1240d;
        }

        40% {
            color: #0cd813;
        }


        80% {
            color: #deefdc;
        }

        100% {
            color: #0311ad;
        }
    }
}

.h-logo {
    margin-top: -0.5px;
    margin-left: -48px;
    width: 40px;
    border: 1px solid #333;
    height: 80px;
    color: rgb(240, 248, 255);
    background-color: aliceblue;
    z-index: 10;
    position: fixed;

}

.Text-logo {
    margin-left: 100px;
    font-size: 1.2rem;
}

.info-user-btn {
    width: 160px;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    display: flex;
    margin-right: 30px;
}

.alert-user {
    margin-top: 10px;
    margin-right: 10px;
    font-size: 1.4rem;
}

.smart {
    width: 40px;
    height: 40px;
    margin-right: 15px;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    border: none;
    align-items: center;
    background-color: rgba(74, 31, 173, 0.5);
    border-radius: 10px;
    margin-top: 7px;
    color: aliceblue;
}

.btn-user {
    width: 60px;
    height: 25px;
    margin-top: 8px;
    margin-right: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.span-btnuser {
    margin-right: 6px;
}

img {
    margin-right: -15px;
    right: 0;
    top: 0;
    margin-top: 2px;
    width: 35px;
    height: 35px;
    border-radius: 10px;
}